<footer>
  <hr>
  <img src="/asset/img/favicon.png" alt="glugpesce logo" />
  <h5 class="text-center">GLUG PESCE, Mandya</h5>
  <p class="text-center">P.E.S College of Engineering, Mandya</p>
</footer>
