<div class="list-group mb-4">
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Womens's Day Celebration & CSS session</h5>
      <small class="text-muted">7, March 2020</small>
    </div>
    <p class="mb-1">Discussion revolving womens & CSS3 session - Profile Building</p>
    <small class="text-muted"></small>
  </span>
  <a href="https://gitlab.com/zphoenix/vectordesign" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Vector Designing using Inkscape</h5>
      <small class="text-muted">15, February 2020</small>
    </div>
    <p class="mb-1">One day workshop on understanding and using Inkscape</p>
    <small class="text-muted"></small>
  </a>
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">WEB Design</h5>
      <small class="text-muted">8, February 2020</small>
    </div>
    <p class="mb-1">One day workshop on HTML5 - Project Ideation</p>
    <small class="text-muted"></small>
  </span>
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Design WebApp + Git</h5>
      <small class="text-muted">30 & 31 October, 2019</small>
    </div>
    <p class="mb-1">A two day Workshop dealt with Python Flask and Git</p>
    <small class="text-muted"></small>
  </span>

  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Localisation & Dexterous</h5>
      <small class="text-muted">3 November, 2019</small>
    </div>
    <p class="mb-1">Contributing to local language and Gimp Competition</p>
    <small class="text-muted"></small>
  </span>

  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">GIMP Workshop</h5>
      <small class="text-muted">19 October, 2019</small>
    </div>
    <p class="mb-1">a Mega Workshop</p>
    <small class="text-muted"></small>
  </span>

  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">OSM Mapping Party</h5>
      <small class="text-muted">7 September, 2019</small>
    </div>
    <p class="mb-1">Workshop conducted by Void SpaceXYZ & Team</p>
    <small class="text-muted"></small>
  </span>

</div>
