<div class="list-group mb-4">
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Arduino Day Celebration</h5>
      <!--small class="text-muted">21, February 2020</small>
    </div>
    <p class="mb-1">Introduction to Inkscape & resume/profile building</p>
    <small class="text-muted"></small>
  </span> -->

  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Something on JavaScript!!!! Wait for it folks :)</h5>
      <small class="text-muted"></small> -->
    </div>
    <p class="mb-1"></p>
    <small class="text-muted"></small>
  </span>
</div>
